body{
    background-color: cadetblue;
}
h1{
    text-align: center;
    color: rgb(221, 35, 66);
}
.cont{
    display: flex;
    gap: 8px;
}
.buttons{
    height: 100%;
}
.chng{
    margin: 0;
}











 





























